<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Titulo %></title>
    <link rel="stylesheet" href=".\css\bootstrap.min.css">
</head>
<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand text-primary" href="#">
            <img src=".\assets\hanna-instruments-logo-vector.svg" alt="Logo" width="60" height="50" class="d-inline-block align-text-top">
            Gestor de consumibles ST
          </a>
        </div>
      </nav>